In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#read in reviews csv
review_file = "amazon_reviews.csv"
#transform csv to dataframe 
amazon_review_df = pd.read_csv(review_file)
amazon_review_df.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [8]:
product_file = "amazon_products.csv"
amazon_product_df = pd.read_csv(product_file)
amazon_product_df

asin             720
brand            716
title            720
url              720
image            720
rating           720
reviewUrl        720
totalReviews     720
price            720
originalPrice    720
dtype: int64